.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body{
  background-color: rgb(210, 218, 224);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

header{
  position: absolute;
  justify-content: space-around;
  align-items: center;
  display: flex;
  top: 0;
  left: 50%;
  width: 50%;
  height: 15vh;
}

.button_field{
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
}

.button{
  background-color: aqua;
  font-size: large;
  font-weight: bold;
  padding: 10px;
  border: solid 1px;
  border-radius: 10px;
  height: 50px;
  width: 150px;
}

.carte{
  border: 2px solid black;
  border-radius: 3px;
  width: 70vh;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.carte header{
  background-color: white;
  position: relative;
  height: 50%;
  width: 100%;
  top: 0;
  left: 0;
}

.carte header img{
  height:150px;
  width: 150px;
  border-radius: 50%;
}

.carte .content{
  display: grid;
  font-size: 1.2em;
  font-weight: 450;
}

.carte .content .title{
  font-weight: 600;
  margin-right: 10px;
}

.carte .name{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.carte .name .prenom{
  display: flex;
}

.carte .name .nom{
  display: flex;
  margin-left: 10px;
}

.carte .date{
  display: flex;
  justify-content: space-around;
}

.carte footer{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 100px;
  margin: 10px;
}

.carte footer button{
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  width: 100px;
}

.poste{
  border: 2px solid black;
  border-radius: 3px;
  width: 70vh;
  font-size: 1.2em;
  position: relative;
  display: grid;
  justify-content: center;
  top: 640px;
  margin-top: 10px;
  left: 25%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.poste footer{
  position: relative;
  align-self: flex-end;
  justify-self: flex-end;
  justify-content: space-between;
  align-items: center;
  display: flex;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 160px;
  margin: 5px;
}

.poste footer .icon{
  color: 	rgb(218,165,32);
}

.poste footer button{
  border: 1px solid black;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  margin-left: 10px;
}




